<h1 class="ui center aligned icon header">
  <i class="circular book icon"></i>
  Users
</h1>
<%= @products.each do |product| %>
    <div class="ui center aligned segment">
      <%=  image_tag(product.image_url) %>
      <h3 class="ui header"><%= product.title %></h3>
      <%= sanitize(product.description) %>
    </div>
<% end %>